<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LeafTaps">
  <test name="Funcationality Tests" parallel = "classes" thread-count = "2">
    <classes>
      <class name="week4.day1.WCreateLead"/>
      <class name="week4.day1.WEditLead"/>
      <class name="week4.day1.WDeleteLead"/>
      <class name="week4.day1.WDuplicateLead"/>
      <class name="week4.day1.WMergeLead"/>
    </classes>
  </test> <!-- Funcationality Tests -->
</suite> <!-- LeafTaps -->
